<ion-header>
  <ion-navbar>
    <ion-title>
      Manage Users
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input #name type="text" placeholder="Enter name ..." ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Age</ion-label>
      <ion-input #age type="number" placeholder="Enter age ..." ></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="addUser(name, age)">Add User</button>

  <div *ngIf="users.length > 0">
    <h3 style="text-align: center" padding>Users</h3>
    <ion-card *ngFor="let user of users">
      <ion-card-content>
        <ion-label>Name: {{user.name}}</ion-label>
        <ion-label>Age: {{user.age}}</ion-label>
        <button ion-button small color="danger" (click)="removeUser(user)">Delete User</button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
